<nav class="navbar">
  <div class="nav-container">
    
    <!-- Hamburger menu di ujung kiri -->
    <i class="fas fa-bars hamburger" id="menu-toggle"></i>
    
    <!-- Navigasi -->
    <div class="nav-links">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
          {{ item.name }}
        </a>
      {% endfor %}
    </div>

    <!-- Ikon + Language Selector -->
    <div class="nav-icons">
      <i id="theme-toggle" class="fa fa-water"></i>
      <i class="fa-solid fa-clock" onclick="openSidebar()"></i>
      <div class="language-switcher">
        <select id="languageSelect" onchange="switchLanguage()">
          <option value="id">ID</option>
          <option value="en">EN</option>
        </select>
      </div>
    </div>

  </div>
</nav>
